.timer {
    font-family: 'digital-7';
    font-size: 30px;
    color: white;
    background-color: black;
    text-align: center; 
    border-radius: 5px;
}

.timer-active {
    font-family: 'digital-7';
    font-size: 30px;
    color: white;
    background-color: darkred;
    text-align: center;
    border-radius: 5px;
}