<main class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div *ngFor="let timer of timers;let i = index;" class="mt-3">
          <div *ngIf="i < 5">
            <div class="row">
              <div class="text timer col-sm-7" (click)="navigateToTimer(i)">
                {{this.timer.hours | number: '2.0-1'}}:{{this.timer.minutes | number:
                '2.0-1'}}:{{this.timer.seconds
                | number: '2.0-1'}}
              </div>
              <div class="col-sm-2">
                  <button type="button" class="btn btn-lg btn-primary mr-2" (click)="timer.start()">{{this.timer.startButtonName}}</button>
                  <!-- <button type="button" class="btn btn-lg btn-dark mr-2" [disabled]="!timer.isStopped" (click)="timer.stop()">STOP</button> -->
                  <!-- <button type="button" class="btn btn-primary mr-2" (click)="pause()">Pause</button> -->
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div *ngFor="let timer of timers;let i = index;" class="mt-3">
          <div *ngIf="i >= 5">
            <div class="row">
              <div class="text timer col-sm-7" (click)="navigateToTimer(i)">
                {{this.timer.hours | number: '2.0-1'}}:{{this.timer.minutes | number:
                '2.0-1'}}:{{this.timer.seconds
                | number: '2.0-1'}}
              </div>
              <div class="col-sm-2">
                <div>
                <button type="button" class="btn btn-lg btn-primary mr-2" (click)="timer.start()">{{this.timer.startButtonName}}</button>
                <!-- <button type="button" class="btn btn-lg btn-dark mr-2" [disabled]="!timer.isStopped" (click)="timer.stop()">STOP</button> -->
                <!-- <button type="button" class="btn btn-primary mr-2" (click)="pause()">Pause</button> -->
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>