.timer {
    font-family: 'digital-7';
    font-size: 70px;
    color: white;
    background-color: black;
    /* text-align: center; */
    border-radius: 5px;
}

.timer-active {
    font-family: 'digital-7';
    font-size: 70px;
    color: white;
    background-color: darkred;
    /* text-align: center; */
    border-radius: 5px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {  
    50% { opacity: 0; }
}