<main class="content mt-3">
  <div class="container">
      <div class="row">
          <div class="col-md">
              <!-- <div class="row">
                  <div class="col-md mt-2">
                      <div class="row" [ngClass]="{ 'timer': !this.timer.isTicking, 'timer-active': this.timer.isTicking}">
                          <div class="col-sm"></div>
                          <div class="col-sm">
                              <div class="text">
                                <div [ngClass]="{ 'timer': !this.timer.isTicking, 'timer-active': this.timer.isTicking }" class="text col-sm-7">
                                    {{this.timer.hours | number: '2.0-1'}}<span [ngClass]="{ 'blink_me': this.timer.isTicking }">:</span>{{this.timer.minutes | number:'2.0-1'}}<span [ngClass]="{ 'blink_me': this.timer.isTicking }">:</span>{{this.timer.seconds | number: '2.0-1'}}
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm"></div>
                      </div>
                  </div>
                  <div class="col-md mt-2">
                      <div class="form-group">
                          <div class="input-group">
                              <input class="form-control" placeholder="Hours" type="number" [(ngModel)]="this.timer.initialHours">
                              <div class="input-group-append">
                                  <span class="input-group-text">Hours</span>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input class="form-control" placeholder="Minutes" type="number" [(ngModel)]="this.timer.initialMinutes">
                              <div class="input-group-append">
                                  <span class="input-group-text">Minutes</span>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input class="form-control" placeholder="Seconds" type="number" [(ngModel)]="this.timer.initialSeconds">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Seconds</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
              <div class="row">
                <div class="col-md mt-2">
                    <div class="row" [ngClass]="{ 'timer': !this.timer.isTicking, 'timer-active': this.timer.isTicking}">
                        <div class="col-sm"></div>
                        <div class="col-sm">
                            <div class="text">
                              <div [ngClass]="{ 'timer': !this.timer.isTicking, 'timer-active': this.timer.isTicking }" class="text col-sm-7">
                                  {{this.timer.hours | number: '2.0-1'}}<span [ngClass]="{ 'blink_me': this.timer.isTicking }">:</span>{{this.timer.minutes | number:'2.0-1'}}<span [ngClass]="{ 'blink_me': this.timer.isTicking }">:</span>{{this.timer.seconds | number: '2.0-1'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm"></div>
                    </div>
                </div>
                <form [formGroup]="timerForm">
                        <div class="col-md mt-2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Hours" type="number" formControlName="hours">
                                        <div class="input-group-append">
                                            <span class="input-group-text">Hours</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Minutes" type="number" formControlName="minutes">
                                        <div class="input-group-append">
                                            <span class="input-group-text">Minutes</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Seconds" type="number" formControlName="seconds">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Seconds</span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="formSeconds.errors">
                                        Seconds must be between 0 and 59.
                                </div>
                                <div *ngIf="formMinutes.errors">
                                        Minutes must be between 0 and 59.
                                </div>
                                <div *ngIf="formHours.errors">
                                        Hours must be between 0 and 59.
                                </div>
                     </div>
                    </form>
              </div>
              <div class="button-group">
                  <button type="button" class="btn btn-lg btn-primary mr-2" [disabled]="timerForm.invalid" (click)="start()">{{this.timer.startButtonName}}</button>
                  <button type="button" class="btn btn-lg btn-dark mr-2" [disabled]="!this.timer.isStopped || timerForm.invalid" (click)="stop()">STOP</button>
                  <button type="button" class="btn btn-lg btn-info mr-2" (click)="navigateToMulti()">MAIN</button>
              </div>
          </div>
      </div>
  </div>
</main>