<main class="content">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>Electron Timer</h1>


                <div class="text"  class="timer">
                    {{ this.timer.Max - this.timer.Current | number: '1.1-1' }}
                </div>

                <div class="text" *ngIf="this.timer.IsFinished">
                    ding!
                    <audio src="assets/chime.mp3" autoplay></audio>
                </div>

                <!-- <round-progress
                [max]="max"
                [current]="current"
                [radius]="100"
                [stroke]="25">
                </round-progress> -->


                <div class="controls-wrapper">

                    <label>Seconds</label>
                    <input class="input" placeholder="number of seconds" type="text" [(ngModel)]="this.timer.Max"
                        (keydown)="reset()">


                    <button *ngIf="this.timer.Current <= 0" (click)="start()">Start</button>
                    <button *ngIf="!this.timer.IsFinished" (click)="finish()">Finish</button>
                </div>

            </div>
        </div>
    </div>
</main>